.App-header {
  position: relative;
  display: flex;
}

.content-description {
  align-items: center;
  display: flex;
  justify-content: initial;
  padding-left: 6%;
  width: 50%;
}

.content-image {
  width: 50%;
}

.content-description-info {
  color: var(--color-blue-main);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vw;
}

.content-description-secundary {
  color: var(--color-blue-secundary);
}

img {
  width: 100%;
}
