@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-background: #E5E5E5;
  --color-blue-main: #09295E;
  --color-blue-secundary: #21ADCF;
  --color-gray: #E0E0E0;
  --color-not-found: #BDBDBD;
  --color-placeholder: #C4C4C4;
  --color-search: #4F4F4F;
  --color-hover: rgba(33, 173, 207, 0.1);
  --color-bg-modal: rgba(9, 41, 94, 0.7);
  --color-bg-spinner: rgb(255 255 255 / 46%);
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  font-style: normal;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
